body {
	width: 480px;
	height: auto;
	min-height: 360px;
	margin: 0;
	padding-top: 1em;
}
.title {
    border-bottom: thin solid #eee;
    padding-bottom: 0.25em;
}
#container {
	position: relative;
	float: left;
}
.full {
	width: 95%;
	margin: 0 2.5% 2.5% 2.5%;
	float: left;
}
.half {
	width: 46.25%;
	margin: 0 0 2.5% 2.5%;
	float:left;
}
.third {
	width: 30.83%;
	margin: 0 0 2.5% 2.5%;
	float: left;
}
.last {
	margin-bottom: 0;
}
#msg-area {
	transition: opacity 0.25s;
	opacity: 0;
	text-align: center;
	border-radius: .25em;
	background-color: #e6ffff;
	color: #008EBD;
	font-size: 1.25em;
	padding: 1em 0;
}
